<section id="about-section" class="section">
  <div class="section-wrapper">
    <div class="fade-in">
      <h1 class="section-heading">Hey, I'm Luigi.</h1>
      <h3 class="section-subheading">I'm a computer engineer passionate about cryptography and writing code.</h3>
      <span class="divider"></span>
      <div class="about-wrapper">
        <img class="headshot" src="img/profile.jpg" alt="headshot">
        <div class="about-text-wrapper">
          <p class="about-text"><strong>I'm currently a Research Engineer at EURECOM</strong>, a Research Centre in digital sciences located in the Sophia Antipolis technology park (French Riviera), a major European place for telecommunications activities.</p>
          <p class="about-text"><strong>When I'm not in front of a computer screen,</strong> I'm probably reading Dostoevskij novels, or listening to some classical music</p>
        </div>
      </div>
    </div>
  </div>
</section>
